In [ ]:
26/5/23

In [ ]:
1.

In [ ]:
'''Write a function that takes an integer as input and returns "Even" if 
the number is even and "Odd" if the number is odd.'''

In [9]:
def odd_even(n):
    if n%2==0:
        print(n ,":","Yes! ,you entered the even number ")
    
    elif n%2!=0:
        print(n ,":","Yes! ,you entered the odd number ")

    else:
        print("You have entered wrong number")

In [10]:
odd_even(2)

2 : Yes! ,you entered the even number

In [11]:
odd_even(15)

15 : Yes! ,you entered the odd number

In [14]:
odd_even(855.6)

855.6 : Yes! ,you entered the odd number

In [ ]:
2.

In [ ]:
'''Write a function that takes year as input and returns True 
if the year is a leap year, False otherwise.'''

In [42]:
year=int(input("enter the year : "))
if year%4==0 and year%100 != 0:
    print(year,"yes ,it is leap year")
elif year % 100 == 0 and year % 400 == 0:
    print(year,"Yes it is leap year")
else:
    print(year,"sorry it is not leap year")

enter the year : 2023
2023 sorry it is not leap year

In [43]:
def leap_year(year):
    if year%4==0 and year%100 != 0:
        print(year,"yes ,it is leap year")
    elif year % 100 == 0 and year % 400 == 0:
        print(year,"Yes it is leap year")
    else:
        print(year,"sorry it is not leap year")

In [44]:
leap_year(2024)

2024 yes ,it is leap year

In [45]:
leap_year(1900)

1900 sorry it is not leap year

In [46]:
leap_year(2000)

2000 Yes it is leap year

In [47]:
leap_year(2016)

2016 yes ,it is leap year

In [48]:
leap_year(2012)

2012 yes ,it is leap year

In [ ]:
3.

In [ ]:
'''Write a function that takes three numbers as inputs and 
returns the largest number among them'''

In [52]:
n1=int(input("enter the 1st Number : "))
n2=int(input("enter the 2nd Number : "))
n3=int(input("enter the 3rd Number : "))

if n1 > n2 and n1>n3:
    print("The largest number is" ,n1)

elif n2>n1  and n2>n3:
    print("the largest number is",n2)
    
else:
    print("the largest number is",n3)

enter the 1st Number : 1
enter the 2nd Number : 5
enter the 3rd Number : 3
the largest number is 5

In [53]:
def lar_num(n1,n2,n3):
    if n1 > n2 and n1>n3:
        print("The largest number is" ,n1)

    elif n2>n1  and n2>n3:
        print("the largest number is",n2)
    
    else:
        print("the largest number is",n3)

In [54]:
lar_num(10,20,30)

the largest number is 30

In [55]:
lar_num(5,2,3)

The largest number is 5

In [56]:
lar_num(1,5,10)

the largest number is 10

In [ ]:
4.

In [ ]:
'''Write a function that calculates the factorial of a number. The 
factorial of a non-negative integer n is the 
product of all positive integers less than or equal to n. 
it is denoted by n!'''

In [63]:
n=int(input("enter the number : "))
factorial=1
for i in range(1,n+1):
    factorial=factorial *i
print("The factorial of a given number is : ", factorial)

enter the number : 6
The factorial of a given number is :  720

In [64]:
def fact_num(n):
    factorial=1
    for i in range(1,n+1):
        factorial=factorial *i
    print("The factorial of a given number is : ", factorial)

In [65]:
fact_num(5)

The factorial of a given number is :  120

In [66]:
fact_num(10)

The factorial of a given number is :  3628800

In [ ]:
5.

In [ ]:
'''Write a function that converts temperature from 
celsius to Fahrenheit and vice versa.'''

In [92]:
value=int(input("enter the degree celsius value :  "))
fahrenheit=(value*9/5)+32
print("the obtained result after converting from degree celsius to fahrenheit is :",fahrenheit,"F")

value=int(input("enter the Fahrenheit value :  "))
degreecelsius=(value-32)*5/9
print("the obtained result after converting from  fahrenheit degree celsius  is :",degreecelsius,"C")

enter the degree celsius value :  27
the obtained result after converting from degree celsius to fahrenheit is : 80.6 F
enter the Fahrenheit value :  80
the obtained result after converting from  fahrenheit degree celsius  is : 26.666666666666668 C

In [98]:
def deg_frh_deg(value,value1):
    #value=int(input("enter the degree celsius value :  "))
    fahrenheit=(value*9/5)+32
    print("the obtained result after converting from degree celsius to fahrenheit is :",fahrenheit,"F")

    #value=int(input("enter the Fahrenheit value :  "))
    degreecelsius=(value1-32)*5/9
    print("the obtained result after converting from  fahrenheit degree celsius  is :",degreecelsius,"C")

In [100]:
deg_frh_deg(27,80)

the obtained result after converting from degree celsius to fahrenheit is : 80.6 F
the obtained result after converting from  fahrenheit degree celsius  is : 26.666666666666668 C

In [101]:
deg_frh_deg(35,96)

the obtained result after converting from degree celsius to fahrenheit is : 95.0 F
the obtained result after converting from  fahrenheit degree celsius  is : 35.55555555555556 C

In [102]:
deg_frh_deg(100,500)

the obtained result after converting from degree celsius to fahrenheit is : 212.0 F
the obtained result after converting from  fahrenheit degree celsius  is : 260.0 C